# Machine Learning with SAP HANA Cloud

This notebook belongs to the <a href='https://community.sap.com/t5/artificial-intelligence-and-machine-learning-blogs/hands-on-tutorial-machine-learning-with-sap-hana-cloud/ba-p/13683430'>Hands-on Tutorial: Machine Learning with SAP HANA Cloud</a>
## Data upload

### Logon to SAP HANA Cloud

In [2]:
import hana_ml.dataframe as dataframe
conn = dataframe.ConnectionContext(address='REPLACEWITHYOURSQLENDPOINT',
                                   port=443,
                                   user='REPLACEWITHYOURDBUSER',
                                   password='REPLACEWITHYOURDBUSERPASSWORD')
conn.connection.isconnected()

True

### Upload data to SAP HANA Cloud

Load data from local csv file into Python

In [3]:
import pandas as pd
df_data= pd.read_csv('OVERNIGHTSTAYS.csv') 
df_data.MONTH = pd.to_datetime(df_data.MONTH, format='%d/%m/%Y') 
df_data.head(5)

       MONTH      REGION COUNTRYOFRESIDENCE  OVERNIGHTSTAYS
0 2022-01-01  Graubünden        Switzerland          392805
1 2022-01-01  Graubünden      Baltic States               0
2 2022-01-01  Graubünden            Germany           80648
3 2022-01-01  Graubünden             France            4229
4 2022-01-01  Graubünden              Italy           10083

Upload the data from Python to SAP HANA Cloud. The table will be created automatically.

In [4]:
import hana_ml.dataframe as dataframe
df_remote = dataframe.create_dataframe_from_pandas(connection_context=conn, 
                                                   pandas_df=df_data, 
                                                   table_name='OVERNIGHTSTAYS',
                                                   force=True,
                                                   replace=False)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.00it/s]

Peak at a few rows of the data that has just been uploaded

In [5]:
df_remote.head(5).collect()

       MONTH      REGION COUNTRYOFRESIDENCE  OVERNIGHTSTAYS
0 2022-01-01  Graubünden        Switzerland          392805
1 2022-01-01  Graubünden      Baltic States               0
2 2022-01-01  Graubünden            Germany           80648
3 2022-01-01  Graubünden             France            4229
4 2022-01-01  Graubünden              Italy           10083

Structure of the table that was created

In [6]:
df_remote.dtypes()

[('MONTH', 'TIMESTAMP', 27, 27, 27, 0),
 ('REGION', 'NVARCHAR', 5000, 5000, 5000, 0),
 ('COUNTRYOFRESIDENCE', 'NVARCHAR', 5000, 5000, 5000, 0),
 ('OVERNIGHTSTAYS', 'INT', 10, 10, 10, 0)]