In [1]:
#!pip install hana_ml

In [2]:
#!pip install openpyxl

# FAQ Assistant with all processing on SAP BTP
## Step 1: Upload Text to SAP HANA Cloud and vectorise the content

### Get credentials for SAP HANA Cloud

In [3]:
import json
with open('./credentials.json', 'r') as creds:
  credentials = json.load(creds)

In [4]:
SAP_HANA_CLOUD_ADDRESS  = credentials["SAP_HANA_CLOUD"]["HANA_ADDRESS"]
SAP_HANA_CLOUD_PORT     = credentials["SAP_HANA_CLOUD"]["HANA_PORT"]
SAP_HANA_CLOUD_USER     = credentials["SAP_HANA_CLOUD"]["HANA_USER"]
SAP_HANA_CLOUD_PASSWORD = credentials["SAP_HANA_CLOUD"]["HANA_PASSWORD"]

### Logon to SAP HANA Cloud with those credentials

In [5]:
import hana_ml.dataframe as dataframe
conn = dataframe.ConnectionContext(
                                   address  = SAP_HANA_CLOUD_ADDRESS,
                                   port     = SAP_HANA_CLOUD_PORT,
                                   user     = SAP_HANA_CLOUD_USER,
                                   password = SAP_HANA_CLOUD_PASSWORD, 
                                   )
conn.connection.isconnected()

True

### Upload Questions as table

Load data from Excel to Pandas DataFrame

In [6]:
import pandas as pd
df_data= pd.read_excel ('FAQ_ASSISTANT_QUESTIONS.xlsx') 
df_data.head(5)

    AID  QID                                           QUESTION
0  1000    1                              When was SAP founded?
1  1001    1             What does the acronym "SAP" stand for?
2  1002    1                  What is SAP’s vision and mission?
3  1003    1  What is the business outlook for the current f...
4  1004    1  Are you planning to grow organically or throug...

Upload data to SAP HANA as table.

In [7]:
import hana_ml.dataframe as dataframe
df_remote = dataframe.create_dataframe_from_pandas(connection_context=conn, 
                                                   pandas_df=df_data, 
                                                   table_name='FAQ_ASSISTANT_QUESTIONS',
                                                   force=True,
                                                   replace=False,
                                                   )

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 20.49it/s]

Add a vector column to the table that will be automatically filled, based on the text form the QUESTION column.

In [8]:
dbapi_cursor = conn.connection.cursor()
dbapi_cursor.execute("""
ALTER TABLE FAQ_ASSISTANT_QUESTIONS
ADD (QUESTION_VECTOR REAL_VECTOR GENERATED ALWAYS AS VECTOR_EMBEDDING(QUESTION, 'QUERY', 'SAP_NEB.20240715'));
""")

True

Verify that the vector column was created and filled

In [9]:
conn.table('FAQ_ASSISTANT_QUESTIONS').head(5).collect()

,AID,QID,QUESTION,QUESTION_VECTOR
0,1000,1,When was SAP founded?,"[-0.03181835636496544, -0.034392450004816055, ..."
1,1001,1,"What does the acronym ""SAP"" stand for?","[0.008095704019069672, 0.041635673493146896, -..."
2,1002,1,What is SAP’s vision and mission?,"[-0.0006423912127502263, 0.015804918482899666,..."
3,1003,1,What is the business outlook for the current f...,"[0.016121719032526016, -0.03136924281716347, 0..."
4,1004,1,Are you planning to grow organically or throug...,"[-0.028233295306563377, -0.01835213229060173, ..."

### Upload Answers as table

Load data from Excel to Pandas DataFrame

In [10]:
import pandas as pd
df_data = pd.read_excel ('FAQ_ASSISTANT_ANSWERS.xlsx') 
df_data.head(5)

    AID                                             ANSWER
0  1000  In 1972, five former IBM employees founded the...
1  1001  "SAP" stands for Systems, Applications, and Pr...
2  1002  In the digital era, data is the “new currency”...
3  1003  The outlook and mid-term ambition can be found...
4  1004  Organic growth remains the primary driver of o...

Upload data to SAP HANA as table.

In [11]:
import hana_ml.dataframe as dataframe
df_remote = dataframe.create_dataframe_from_pandas(connection_context=conn, 
                                                   pandas_df=df_data, 
                                                   table_name='FAQ_ASSISTANT_ANSWERS',
                                                   force=True,
                                                   replace=False)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 15.90it/s]

In [12]:
df_remote.head(5).collect()

    AID                                             ANSWER
0  1000  In 1972, five former IBM employees founded the...
1  1001  "SAP" stands for Systems, Applications, and Pr...
2  1002  In the digital era, data is the “new currency”...
3  1003  The outlook and mid-term ambition can be found...
4  1004  Organic growth remains the primary driver of o...

### Upload another question to test automatic filling of the vector column

Verify that only 1 Question exists in the question table for a specific AID

In [13]:
conn.table('FAQ_ASSISTANT_QUESTIONS').filter('AID = 1007').collect()

,AID,QID,QUESTION,QUESTION_VECTOR
0,1007,1,What is SAP's current headcount?,"[-0.004303505644202232, -0.010145594365894794,..."

Add an additional question for the same AID, without the QUESTION_VECTOR. This can be useful if the same question can be phrased differently.

In [14]:
data = [[1007, 2, 'How many people work for SAP`']]
df_data = pd.DataFrame(data, columns=['AID', 'QID', 'QUESTION'])
df_data

    AID  QID                       QUESTION
0  1007    2  How many people work for SAP`

In [15]:
import hana_ml.dataframe as dataframe
df_remote = dataframe.create_dataframe_from_pandas(connection_context=conn, 
                                                   pandas_df=df_data, 
                                                   table_name='FAQ_ASSISTANT_QUESTIONS',
                                                   append=True,
                                                   replace=False)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  9.66it/s]

Check that now two questions exist for the same AID and that the QUESTION_VECTOR was automatically created and saved for the new entry.

In [16]:
conn.table('FAQ_ASSISTANT_QUESTIONS').filter('AID = 1007').collect()

,AID,QID,QUESTION,QUESTION_VECTOR
0,1007,1,What is SAP's current headcount?,"[-0.004303505644202232, -0.010145594365894794,..."
1,1007,2,How many people work for SAP`,"[0.006082972511649132, -0.003313991939648986, ..."