# Upload Questions and Answer to SAP HANA Cloud

### Get credentials for SAP HANA Cloud

In [1]:
import json
with open('./credentials.json', 'r') as creds:
  credentials = json.load(creds)

In [2]:
SAP_HANA_CLOUD_ADDRESS  = credentials["SAP_HANA_CLOUD"]["HANA_ADDRESS"]
SAP_HANA_CLOUD_PORT     = credentials["SAP_HANA_CLOUD"]["HANA_PORT"]
SAP_HANA_CLOUD_USER     = credentials["SAP_HANA_CLOUD"]["HANA_USER"]
SAP_HANA_CLOUD_PASSWORD = credentials["SAP_HANA_CLOUD"]["HANA_PASSWORD"]

### Logon to SAP HANA Cloud with those credentials

In [3]:
import hana_ml.dataframe as dataframe
conn = dataframe.ConnectionContext(
                                   address  = SAP_HANA_CLOUD_ADDRESS,
                                   port     = SAP_HANA_CLOUD_PORT,
                                   user     = SAP_HANA_CLOUD_USER,
                                   password = SAP_HANA_CLOUD_PASSWORD, 
                                  )
conn.connection.isconnected()

True

### Upload Questions as table

Load data from Excel to pandas

In [4]:
#!pip install openpyxl
import pandas as pd
df_data= pd.read_excel ('FAQ_QUESTIONS.xlsx') 
df_data.head(5)

,AID,QID,QUESTION,QUESTION_VECTOR
0,1000,1,When was SAP founded?,NaN
1,1001,1,"What does the acronym ""SAP"" stand for?",NaN
2,1002,1,What is SAP’s vision and mission?,NaN
3,1003,1,What is the business outlook for the current f...,NaN
4,1004,1,Are you planning to grow organically or throug...,NaN

Upload data to SAP HANA as table. The vector column will be filled later

In [5]:
import hana_ml.dataframe as dataframe
df_remote = dataframe.create_dataframe_from_pandas(connection_context=conn, 
                                                   pandas_df=df_data, 
                                                   table_name='FAQ_QUESTIONS',
                                                   force=True,
                                                   replace=False,
                                                   table_structure = {'QUESTION_VECTOR': 'REAL_VECTOR(1536)'})

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 20.50it/s]

In [6]:
df_remote.head(5).collect()

,AID,QID,QUESTION,QUESTION_VECTOR
0,1000,1,When was SAP founded?,None
1,1001,1,"What does the acronym ""SAP"" stand for?",None
2,1002,1,What is SAP’s vision and mission?,None
3,1003,1,What is the business outlook for the current f...,None
4,1004,1,Are you planning to grow organically or throug...,None

### Upload Answers as table

In [7]:
import pandas as pd
df_data= pd.read_excel ('FAQ_ANSWERS.xlsx') 
df_data.head(5)

    AID                                             ANSWER
0  1000  In 1972, five former IBM employees founded the...
1  1001  "SAP" stands for Systems, Applications, and Pr...
2  1002  In the digital era, data is the “new currency”...
3  1003  The outlook and mid-term ambition can be found...
4  1004  Organic growth remains the primary driver of o...

Upload data to SAP HANA as table.

In [8]:
import hana_ml.dataframe as dataframe
df_remote = dataframe.create_dataframe_from_pandas(connection_context=conn, 
                                                   pandas_df=df_data, 
                                                   table_name='FAQ_ANSWERS',
                                                   force=True,
                                                   replace=False)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 29.01it/s]

In [9]:
df_remote.head(5).collect()

    AID                                             ANSWER
0  1000  In 1972, five former IBM employees founded the...
1  1001  "SAP" stands for Systems, Applications, and Pr...
2  1002  In the digital era, data is the “new currency”...
3  1003  The outlook and mid-term ambition can be found...
4  1004  Organic growth remains the primary driver of o...